/*<meta />*/

body
{
	color: #404040;
	font-family: Arial;
	font-size: 0.8em;
	line-height: 1.7em;
	margin-bottom: 17px;
	margin-left: 17px;
	margin-top: 0px;
	max-width: 100%;
}

a:link
{
	color: #2D8DCC;
	font-weight: bold;
}

a:visited
{
	color: #2D8DCC;
}

a:hover
{
	color: #005c9d;
}

a.footermaster
{
	color: #ffffff;
}

a.footermaster:visited
{
	color: #ffffff;
}

a.footermaster:hover
{
	color: #005c9d;
}

a.footermasterurls
{
	color: #ffffff;
	font-style: italic;
}

a.footermasterurls:visited
{
	color: #ffffff;
}

a.footermasterurls:hover
{
	color: #005c9d;
}

a.MCBreadcrumbsLink
{
	color: #ffffff;
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #ffffff;
}

a.MCBreadcrumbsLink:hover
{
	color: #005c9d;
}

blockquote
{
	background-color: #e1e1e1;
	background-image: url('../ImagesAdmin/QuotationMark.png');
	background-repeat: no-repeat;
	background-position: top left;
	border-bottom: none;
	border-left-color: #b3b3b3;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-color: #b3b3b3;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-color: #b3b3b3;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	font-family: 'Century Gothic';
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	line-height: 18px;
	margin: 0;
	padding-bottom: 0px;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 12px;
}

blockquote.name
{
	background-image: none;
	border-bottom-color: #b3b3b3;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top: none;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin-bottom: 0;
	padding-bottom: 12px;
	padding-right: 35px;
	padding-top: 8px;
	text-align: right;
}

Div.FooterTable
{
	background-repeat: repeat;
	border-top-style: solid;
	border-top-width: 2px;
	margin-left: -17px;
	margin-right: -17px;
	padding-bottom: 10px;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 10px;
	border-top-color: #3f3f3f;
	background-color: #000000;
}

Div.GlossaryPageDefinition
{
	
}

Div.GlossaryPageHeading
{
	
}

Div.GlossaryPageTerm
{
	
}

div.ImagesFloatLeft
{
	clear: both;
	float: left;
	margin-right: 10px;
}

div.ImagesFloatRight
{
	clear: both;
	float: right;
	margin-left: 10px;
}

h1
{
	border-bottom-style: solid;
	border-bottom-width: 2px;
	color: #ffffff;
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 8px;
	margin-left: -17px;
	margin-right: -17px;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 10px;
	width: 100%;
	border-bottom-color: #044b7a;
	border-top-color: #3f3f3f;
	background-color: #2c3e50;
}

h1.AppendixTitle
{
	
}

h1.BackmatterHeadings
{
	
}

h1.UserGuideBHeading
{
	
}

h2
{
	font-size: 1.2em;
	margin-bottom: 4px;
	margin-top: 20px;
}

h3
{
	font-size: 1.1em;
	margin-bottom: 4px;
	margin-top: 16px;
}

img.FiftyPercentThumbnail
{
	mc-thumbnail: popup;
	border-left-style: solid;
	border-left-width: 2px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 2px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #000000;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
}

img.Hyperlinked
{
	border-style: none;
}

img.OneHundredPercent
{
	padding: 10px;
}

img.OneHundredPercentThumbnail
{
	mc-thumbnail: popup;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

img.ReduceButtonSize
{
	max-height: 18px;
}

img.SeventyFivePercent
{
	padding: 10px;
}

img.SeventyFivePercentThumbnail
{
	mc-thumbnail: popup;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	orphans: 2;
	widows: 2;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	border-top: none;
	color: #ffffff;
	font-size: .7em;
	font-style: italic;
	margin-bottom: 0px;
	margin-left: -17px;
	margin-right: -17px;
	mc-breadcrumbs-prefix: 'You are here: ';
	padding-bottom: 0px;
	padding-left: 17px;
	padding-right: 17px;
	padding-top: 10px;
	background-color: #000000;
}

MadCap|conceptLink
{
	color: #404040;
	font-size: 0.8em;
	font-weight: bold;
	mc-image: url('../ImagesAdmin/ListIcon.png');
	mc-label: 'SEE ALSO';
	padding-top: 8px;
	text-decoration: none;
}

MadCap|conceptLink:hover
{
	font-weight: bold;
	color: #005c9d;
}

MadCap|dropDown
{
	margin-bottom: 6px;
	margin-top: 6px;
	mc-closed-image: url('../ImagesAdmin/DropDownClosed.png');
	mc-disabled: false;
	mc-open-image: url('../ImagesAdmin/DropDownOpen.png');
}

MadCap|dropDown.Footer
{
	mc-closed-image: url('../ImagesAdmin/DropDownSmallClosed.png');
	mc-open-image: url('../ImagesAdmin/DropDownSmallOpen.png');
}

MadCap|dropDown.SecondLevel
{
	margin-left: 10px;
	mc-closed-image: url('../ImagesAdmin/DropDownClosedSecondLevel.png');
	mc-open-image: url('../ImagesAdmin/DropDownOpenSecondLevel.png');
}

MadCap|dropDownBody
{
	mc-disabled: false;
	border-bottom-color: #044b7a;
	border-bottom: solid 1px #2c3e50;
}

MadCap|dropDownBody.FooterTopicMaster
{
	border-bottom-color: #b3b3b3;
}

MadCap|dropDownBody.Final
{
	border-bottom: 0px;
}

MadCap|dropDownHead
{
	mc-disabled: false;
}

MadCap|dropDownHotspot
{
	color: #404040;
	font-size: 0.9em;
	font-weight: bold;
	mc-disabled: false;
}

MadCap|dropDownHotspot:hover
{
	font-weight: bold;
	color: #2c3e50;
}

MadCap|dropDownHotspot.Footer
{
	color: #ffffff;
	font-size: 0.8em;
}

MadCap|dropDownHotspot.Footer:hover
{
	color: #2d8dcc;
}

MadCap|footnoteBlock
{
	
}

MadCap|footnotesBlock
{
	
}

MadCap|glossaryProxy
{
	
}

MadCap|indexProxy
{
	
}

MadCap|miniTocProxy
{
	
}

MadCap|tocProxy
{
	
}

MadCap|popup
{
	color: #2D8DCC;
}

MadCap|popup:focus
{
	color: #2D8DCC;
}

MadCap|popup:hover
{
	color: #2D8DCC;
}

MadCap|popupHead
{
	color: #2D8DCC;
	font-weight: bold;
}

MadCap|xref
{
	color: #2D8DCC;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #005c9d;
}

MadCap|xref.IndexPageNumber
{
	
}

ol
{
	list-style-image: none;
}

ol.LowerAlpha
{
	list-style-type: lower-alpha;
	margin-left: -10px;
}

ol.LowerRoman
{
	list-style-type: lower-roman;
	margin-left: -10px;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

p.ChapterNumber
{
	
}

p.Copyright
{
	
}

p.CopyrightAddress
{
	
}

p.CopyrightHeading
{
	
}

p.CreatedUsingFlare
{
	
}

p.EmptyPageText
{
	
}

p.Example
{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	margin-top: 0px;
	padding-bottom: 14px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	background-color: #e1e1e1;
	border-bottom-color: #b3b3b3;
	border-left-color: #b3b3b3;
	border-right-color: #b3b3b3;
}

p.ExampleHead
{
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	font-size: .9em;
	font-weight: bold;
	letter-spacing: 5px;
	margin-bottom: 0px;
	margin-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 14px;
	page-break-after: avoid;
	background-color: #b3b3b3;
	border-left-color: #b3b3b3;
	border-right-color: #b3b3b3;
	border-top-color: #b3b3b3;
}

p.ExampleMiddleSection
{
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 6px;
	background-color: #e1e1e1;
	border-left-color: #b3b3b3;
	border-right-color: #b3b3b3;
}

p.Figure
{
	
}

p.FirstPageOfChapter
{
	
}

p.FooterTopicMaster
{
	color: #ffffff;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 16px;
	margin: 0px;
	padding: 0px;
	padding-left: 2px;
}

p.FooterTopicMasterLastLine
{
	color: #ffffff;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 16px;
	margin: 0px;
	padding: 0px;
	padding-bottom: 10px;
	padding-left: 2px;
}

p.FooterTopicMasterLastLineLeftPadding
{
	color: #ffffff;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 16px;
	margin: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 3px;
	padding-top: 0px;
	text-align: left;
}

p.FooterTopicMasterLeftPadding
{
	color: #ffffff;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 16px;
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	padding-right: 3px;
	text-align: left;
}

p.FrameFooterText
{
	
}

p.FrameFooterText2
{
	
}

p.IndexHeading
{
	
}

p.ManualTitle1
{
	
}

p.ManualTitle2
{
	
}

p.ManualVersionNumber
{
	
}

p.MiniTOC1
{
	
}

p.note
{
	background-repeat: no-repeat;
	border: solid 1px #404040;
	border-radius: 6px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	background-color: #005c9d;
	border-bottom-color: #044b7a;
	border-left-color: #044b7a;
	border-right-color: #044b7a;
	border-top-color: #044b7a;
	color: #ffffff;
	mc-auto-number-format: '{b}{color #b3b3b3}NOTE: {/color}{/b}';
}

p.noteBottom
{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top: 0px;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 0px;
	background-color: #005c9d;
	border-bottom-color: #044b7a;
	border-left-color: #044b7a;
	border-right-color: #044b7a;
	color: #ffffff;
}

p.noteMiddle
{
	border-bottom: 0px;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 0px;
	background-color: #005c9d;
	border-left-color: #044b7a;
	border-right-color: #044b7a;
	color: #ffffff;
}

p.noteTop
{
	background-repeat: no-repeat;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-top-style: solid;
	border-top-width: 1px;
	margin-bottom: 0;
	padding-bottom: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-top: 10px;
	background-color: #005c9d;
	border-left-color: #044b7a;
	border-right-color: #044b7a;
	border-top-color: #044b7a;
	color: #ffffff;
	mc-auto-number-format: '{b}{color #b3b3b3}NOTE: {/color}{/b}';
}

p.SeeAlsoLink
{
	border-top-color: #b3b3b3;
	border-top-style: solid;
	border-top-width: 1px;
	font-size: 1.10em;
	letter-spacing: 1px;
	word-spacing: 2px;
}

p.TableCaption
{
	
}

p.TableTextCenterDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
	text-align: center;
}

p.TableTextDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextDarkEmphasis
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TableTextHeadDark
{
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
	color: #ffffff;
}

p.TableTextLightEmphasis
{
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
}

p.TOCHeading
{
	
}

span.Emphasis
{
	font-weight: bold;
}

span.FigureNum
{
	
}

span.SeeAlsoIndexTerms
{
	font-style: italic;
}

span.SeeIndexTerms
{
	font-style: italic;
}

span.SetOffFirstLevel
{
	color: #5e6914;
	font-weight: bold;
}

span.SetOffSecondLevel
{
	color: #445879;
	font-weight: bold;
}

span.TableNum
{
	
}

td
{
	margin: 8px;
	vertical-align: top;
}

th
{
	color: #ffffff;
	margin-bottom: 8px;
	margin-top: 8px;
}

tr
{
	
}

ul
{
	list-style-image: url('../ImagesAdmin/Bullet1Online.png');
}

ul.FirstLevelLessIndentation
{
	margin-left: -10px;
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.SecondLevel
{
	margin-left: -10px;
	list-style-image: url('../ImagesAdmin/Bullet2.png');
}

@media print
{
	body
	{
		margin: 8px;
		font-size: 11pt;
		font: Times New Roman;
		font-family: 'Times New Roman';
		line-height: normal;
	}

	Div.GlossaryPageDefinition
	{
		color: #e1e1e1;
		font-size: 9pt;
	}

	Div.GlossaryPageHeading
	{
		border-bottom-color: #bed230;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		color: #bed230;
		font-size: 11pt;
	}

	Div.GlossaryPageTerm
	{
		color: #bed230;
		font-size: 10pt;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	div.ImagesFloatLeft
	{
		padding: 5px;
	}

	div.ImagesFloatRight
	{
		padding: 5px;
	}

	h1
	{
		background-color: transparent;
		border-bottom: none;
		margin-bottom: 20px;
		margin-left: 0;
		padding-left: 0px;
		page-break-before: avoid;
		color: #808082;
		font-size: 18pt;
		font: Times New Roman;
		border-top-color: #ffffff;
		padding-top: 12pt;
		padding-bottom: 3pt;
		font-weight: bold;
		font-family: 'Times New Roman';
		mc-hyphenate: never;
		mc-heading-level: 1;
	}

	h1.AppendixTitle
	{
		mc-heading-level: 0;
		page-break-before: avoid;
	}

	h1.BackmatterHeadings
	{
		color: #3e3e3e;
		font-family: 'Century Gothic';
		font-size: 90pt;
		font-weight: normal;
		letter-spacing: -1px;
		line-height: 92pt;
		margin: 0;
		mc-heading-level: 4;
		text-align: center;
	}

	h1.UserGuideBHeading
	{
		page-break-before: avoid;
	}

	h2
	{
		font-size: 14pt;
		font-weight: bold;
		margin-bottom: 0px;
		page-break-before: avoid;
		font: Times New Roman;
		font-family: 'Times New Roman';
		line-height: normal;
		color: #005581;
		mc-hyphenate: never;
		mc-heading-level: 2;
	}

	h4
	{
		mc-heading-level: 0;
		font: Times New Roman;
		font-weight: bold;
		line-height: normal;
		font-family: 'Times New Roman';
		color: #005581;
		font-size: 11pt;
	}

	img.FiftyPercentThumbnail
	{
		max-width: 50%;
	}

	img.OneHundredPercent
	{
		max-width: 100%;
	}

	img.OneHundredPercentThumbnail
	{
		max-width: 100%;
	}

	img.SeventyFivePercent
	{
		max-width: 75%;
	}

	img.SeventyFivePercentThumbnail
	{
		max-width: 75%;
	}

	MadCap|dropDown.SecondLevel
	{
		background-color: transparent;
		margin-left: 10px;
	}

	MadCap|dropDownBody
	{
		border-bottom: none;
		font-size: 11pt;
		font: Times New Roman;
		font-family: 'Times New Roman';
	}

	MadCap|dropDownHead
	{
		margin-top: 16px;
	}

	MadCap|dropDownHotspot
	{
		font-size: 11pt;
		color: #005581;
	}

	MadCap|footnoteBlock
	{
		font-size: 7pt;
	}

	MadCap|footnotesBlock
	{
		border-top-color: #bed230;
	}

	MadCap|glossaryProxy
	{
		border-top: none;
		color: #e1e1e1;
	}

	MadCap|indexProxy
	{
		border-top: none;
		color: #e1e1e1;
	}

	MadCap|miniTocProxy
	{
		border-top-width: 0px;
		margin-left: 0.25in;
		margin-right: 0.25in;
		padding-left: 0px;
	}

	MadCap|tocProxy
	{
		border-top: none;
		margin-right: 0.25in;
	}

	MadCap|xref
	{
		font-weight: normal;
		mc-format: '{quote}{para}{quote} {pageref}';
		text-decoration: none;
		color: #2d8dcc;
	}

	MadCap|xref.IndexPageNumber
	{
		color: #BED230;
	}

	ol.LowerAlpha
	{
		margin-left: 30px;
	}

	ol.LowerRoman
	{
		margin-left: 30px;
	}

	p
	{
		font-size: 11pt;
		font: Times New Roman;
		font-family: 'Times New Roman';
		line-height: normal;
		mc-hyphenate: never;
	}

	p.ChapterNumber
	{
		color: #3e3e3e;
		font-size: 90pt;
		font-weight: normal;
		letter-spacing: -1px;
		line-height: 92pt;
		margin: 0;
		mc-auto-number-position: inside-head;
		mc-auto-number-format: 'CHAPTER {chapnum}';
		mc-heading-level: 1;
		text-align: center;
	}

	p.Copyright
	{
		margin-bottom: 8px;
		margin-top: 8px;
		color: #005581;
	}

	p.CopyrightAddress
	{
		margin-bottom: 0px;
		margin-top: 0px;
	}

	p.CopyrightHeading
	{
		margin-top: 1in;
		page-break-before: always;
	}

	p.CreatedUsingFlare
	{
		font-weight: bold;
		margin-top: 18px;
	}

	p.EmptyPageText
	{
		font-size: 10pt;
		font-weight: bold;
	}

	p.Figure
	{
		color: #404040;
		font-style: italic;
		mc-auto-number-class: FigureNum;
		mc-auto-number-format: 'CF:Figure {chapnum}-{n+} ';
		margin-left: 10px;
		padding-bottom: 10px;
	}

	p.FirstPageOfChapter
	{
		color: #e1e1e1;
	}

	p.FrameFooterText
	{
		font-family: 'Century Gothic';
		font-size: 24pt;
	}

	p.FrameFooterText2
	{
		color: #404040;
		font-family: 'Century Gothic';
		font-size: 11pt;
	}

	p.IndexHeading
	{
		font-size: 11pt;
		padding-top: 16px;
		text-align: left;
	}

	p.ManualTitle1
	{
		font-family: 'Century Gothic';
		font-size: 9pt;
		margin-bottom: 0;
		margin-left: 1in;
		margin-top: 2.00in;
	}

	p.ManualTitle2
	{
		color: #bed230;
		font-family: 'Century Gothic';
		font-size: 22pt;
		line-height: 0;
		margin-bottom: 0;
		margin-left: 1in;
		margin-top: 0;
	}

	p.ManualVersionNumber
	{
		color: #b3b3b3;
		font-family: 'Century Gothic';
		font-size: 12pt;
		margin-left: 1in;
		margin-top: 12pt;
	}

	p.MiniTOC1
	{
		color: #e1e1e1;
		font-size: 9pt;
		font-weight: normal;
	}

	p.TableCaption
	{
		color: #404040;
		font-style: italic;
		mc-auto-number-class: TableNum;
		mc-auto-number-format: 'CT:Table {chapnum}-{n+} ';
		padding-bottom: 0;
		padding-top: 12px;
	}

	p.TOC1
	{
		font-size: 12pt;
		font-weight: normal;
		margin-bottom: 6px;
		margin-top: 12px;
		mc-leader-format: 'none';
		mc-pagenum-display: none;
		page-break-after: avoid;
		color: #000000;
	}

	p.TOC2
	{
		font-weight: normal;
		margin-bottom: 2px;
		margin-left: 0.25in;
		margin-top: 2px;
		color: #000000;
		font-size: 11pt;
	}

	p.TOC3
	{
		font-weight: normal;
		margin-bottom: 2px;
		margin-left: 0.35in;
		margin-top: 2px;
		color: #000000;
		font-size: 11pt;
		font-style: normal;
	}

	p.TOC4
	{
		font-weight: normal;
		margin-bottom: 6px;
		margin-left: 0;
		margin-top: 12px;
		color: #000000;
		font-size: 11pt;
	}

	p.TOCHeading
	{
		letter-spacing: -1px;
		margin: 0;
		mc-heading-level: 0;
		font-size: 18pt;
		color: #808082;
		font-weight: bold;
		line-height: normal;
		text-align: left;
	}

	span.FigureNum
	{
		color: #bed230;
		font-style: normal;
	}

	span.TableNum
	{
		color: #bed230;
		font-style: normal;
	}

	tr
	{
		page-break-inside: avoid;
		color: #005581;
		font-size: 10pt;
		font-family: 'Times New Roman';
	}

	ul
	{
		list-style-image: url('../ImagesAdmin/Bullet1Print.eps');
		line-height: normal;
	}

	ul.FirstLevelLessIndentation
	{
		list-style-image: url('../ImagesAdmin/Bullet1Print.eps');
		margin-left: 30px;
	}

	ul.SecondLevel
	{
		list-style-image: url('../ImagesAdmin/Bullet2Print.eps');
		margin-left: 30px;
	}

	p.WordCoverTitle
	{
		color: #ffffff;
		font: Times New Roman;
		font-family: 'Times New Roman';
		font-size: 22pt;
		font-weight: bold;
	}

	p.PrintPublishedDate
	{
		color: #005581;
		font: Times New Roman;
		font-family: 'Times New Roman';
		font-size: 13pt;
		font-weight: bold;
		padding-bottom: 6pt;
		text-align: right;
		padding-right: 18px;
	}

	p.PrintSubtitle
	{
		color: #ffffff;
		font: Times New Roman;
		font-family: 'Times New Roman';
		font-size: 18pt;
		font-style: normal;
		font-weight: bold;
		line-height: 18pt;
		padding-bottom: 2.80in;
		text-align: right;
		padding-top: 2pt;
		padding-right: 18px;
	}

	p.PrintTitle
	{
		text-align: right;
		color: #ffffff;
		font: Times New Roman;
		font-family: 'Times New Roman';
		font-size: 22pt;
		font-weight: bold;
		line-height: 24pt;
		padding-bottom: 1pt;
		padding-right: 18px;
	}

	h5
	{
		font-size: 11pt;
		font: Times New Roman;
		font-weight: bold;
		line-height: normal;
		font-family: 'Times New Roman';
		color: #005581;
		font-style: italic;
	}

	td
	{
		font-size: 10pt;
		font: Times New Roman;
		font-family: 'Times New Roman';
		border-top: none 0px;
		color: #000000;
	}

	p.note
	{
		background-color: #005581;
		mc-auto-number-format: '{b}{color #ffffff}NOTE: {/color}{/b}';
	}

	p.noteBottom
	{
		background-color: #005581;
	}

	p.noteMiddle
	{
		background-color: #005581;
	}

	p.noteTop
	{
		background-color: #005581;
		mc-auto-number-format: '{b}{color #ffffff}NOTE: {/color}{/b}';
	}

	li
	{
		mc-hyphenate: never;
	}

	table
	{
		mc-hyphenate: never;
	}

	tbody
	{
		mc-hyphenate: never;
	}

	h3
	{
		color: #005581;
		font-weight: bold;
		font-style: normal;
		font-size: 12pt;
		font-family: 'Times New Roman';
		font: Times New Roman;
	}

	p.PageBreak
	{
		page-break-before: always;
	}

	MadCap|dropDown
	{
		
	}

	caption.tableDarkBlue
	{
		color: #005581;
		font-weight: bold;
		font-family: Calibri;
	}
}

a.Popup:hover
{
	color: #044b7a;
}

a.GlossaryPageTerm:hover
{
	color: #005c9d;
}

p.Indent
{
	margin-bottom: 8px;
	margin-top: 8px;
	padding-left: 18px;
}

div.WrapTopicBody
{
	margin-left: -17px;
	margin-right: -17px;
	padding-right: 17px;
	padding-left: 17px;
	padding-bottom: 0px;
	padding-top: 0px;
	background-color: #ffffff;
	height: 100%;
}

@media non-print
{
	body
	{
		background-color: #044b7a;
	}
}

ol.LowerRoman > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerRoman > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerRoman > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerRoman > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerRoman > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerRoman > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerRoman > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerRoman > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerRoman > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerAlpha > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerAlpha > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerAlpha > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerAlpha > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerAlpha > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerAlpha > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerAlpha > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerAlpha > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol.LowerAlpha > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.SecondLevel > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.SecondLevel > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.SecondLevel > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.SecondLevel > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.SecondLevel > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.SecondLevel > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.SecondLevel > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.SecondLevel > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.SecondLevel > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.FirstLevelLessIndentation > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.FirstLevelLessIndentation > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.FirstLevelLessIndentation > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.FirstLevelLessIndentation > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.FirstLevelLessIndentation > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.FirstLevelLessIndentation > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.FirstLevelLessIndentation > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.FirstLevelLessIndentation > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul.FirstLevelLessIndentation > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ol ul
{
	list-style-image: url('../ImagesAdmin/Bullet1.png');
}

ul ul
{
	list-style-image: url('../ImagesAdmin/Bullet1Online.png');
}

:after
{
	list-style-image: url('../ImagesAdmin/Bullet1Online.png');
}

:before
{
	list-style-image: url('../ImagesAdmin/Bullet1Online.png');
}

::marker
{
	list-style-image: url('../ImagesAdmin/Bullet1Online.png');
}

p.Indent2
{
	padding-left: 36px;
}

p.Indent3
{
	padding-left: 54px;
}

p.Indent4
{
	padding-left: 72px;
}

p.Indent5
{
	padding-left: 90px;
}

p.Indent6
{
	padding-left: 108px;
}

p.Indent7
{
	padding-left: 126px;
}

b.DRnumber
{
	color: #005581;
	font-weight: 500;
}

b.DRnumberBold
{
	color: #005581;
	font-weight: bold;
}

b.DRnumberBoldItalics
{
	color: #005581;
	font-style: italic;
	font-weight: bolder;
}

caption.tableDarkBlue
{
	font-weight: bold;
	color: #005581;
}

